<div>
    <div class="container" >
      <h2 class="title-equipo-especializado">
        Contamos con un equipo especializado
      </h2>
      <!-- data-aos="fade-up-left" -->
      <div class="container-equipo-especializado" data-aos="fade-up-left">
        <div >
          <img loading="lazy" src='../../../assets/DHomecuadro.jpg' alt="equipo especializado" />
        </div>

        <div class="container-equipo-servicios"  >
          <div >
            <h3 class="subtitle-team">Servicio integral</h3>
            <p>
              Tenemos un equipo de especialistas que ven de punta a punta tu
              proyecto, desde los planos y diseño, hasta la selección de los
              productos ideales y entrega en obra.
            </p>
          </div>
          <div >
            <h3 class="subtitle-team">Asesoría personalizada</h3>
            <p>
              Todos nuestros asesores se encargan de brindarte el apoyo de
              inicio a fin, trabajarán junto a ti, interiorizando tu proyecto
              como si fuera uno nuestro.
            </p>
          </div>

          <div>
            <h3 class="subtitle-team">Experiencia sin precedentes</h3>
            <p>
              Tener un equipo con años de experiencia en el mercado de
              construcción es sin duda un gran activo para cualquier empresa
              en este sector. Otro beneficio importante para los clientes al
              trabajar con un equipo con experiencia en construcción es que
              pueden estar seguros de que se cumplirán los estándares de
              calidad
            </p>
          </div>
          <div>
          <a href="#contactanos" ><button class="btn-proyecta-team">Escribenos</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>