<footer class="container-fuid footer">
    <div class="container">
      <div class="container-footer">
        <div class="container-footer__enlace-movil">
          <div class="container-footer__enlace-titulo">
            <img loading="lazy"   src="../../../assets/icono-footer.svg" alt="" />
            <p>PROYECTA</p>
          </div>
          <div class="contenido-footer__contacto-movil">
            <img loading="lazy" src="../../../assets/telefono.svg" alt="" />
            <p> 613-7979</p>
          </div>
  
         <div class="contenido-footer__contacto-movil">
          <img loading="lazy" src="../../../assets/correo.svg" alt="" />
            <p>ventascorporativas@cassinelli.com</p>
          </div>

          <p>Av. República de Panamá 4495, Surquillo </p>
          <img loading="lazy" src="../../../assets/whatsap.svg" alt="" />
          <img loading="lazy" src="../../../assets/fb.svg" alt="" class="ms-3" />
        </div>

        <div class="container-footer__enlace">
          <div class="container-footer__enlace-titulo">
            <img loading="lazy" src="../../../assets/icono-footer.svg" alt="" />
            <p>PROYECTA</p>
          </div>
          <div class="contenido-footer-info">
          <div class="contenido-footer__contacto">
            <img loading="lazy" src="../../../assets/telefono.svg" alt="" />
            <p> 613-7979</p>
          </div>
          <div class="contenido-footer__contacto">
          <img loading="lazy" src="../../../assets/correo.svg" alt="" />
            <p>ventascorporativas@cassinelli.com</p>
          </div>
          </div>
        
          <p class="container-footer__enlace__parrafo">Av. República de Panamá 4495, Surquillo.</p>
        </div>
      </div>
      <div class="linea"></div>
      <p class="text-center py-3 m-0 copyright">Copyright 2023 - Todos los derechos reservados</p>
    </div>
  </footer>
