<div class="p-5 text-center bg-image hero">
    <div class="mask">
      <div class="d-flex justify-content-start align-items-center h-100 container">
        <div class="text-white">
          <h1 class="mb-3 hero-title animate__animated animate__bounceInLeft">
            Proyecta - Proyectos que transforman tu ciudad
          </h1>
          <h4 class="mb-3 hero-subtitle animate__animated animate__bounceInRight">
            Entregamos valor a tus proyectos, con los mejores acabados
          </h4>
        </div>
      </div>
    </div>
  </div>