/* Estilos para el contenedor principal del slider */
/* .container{
    overflow-x: hidden !important;
} */
.img-proyecto {
  max-width: 418.66px;
  width: 418.66px;
  height: 515.27px;
  margin: 0 auto;
  object-fit: cover;
}
@media (max-width: 992px) { 
    .img-proyecto {
        width: 339.66px;
      }
 }
@media (max-width: 640px) { 
    .img-proyecto {
        width: 100%;
      }
 }
.container-flechas {
  display: flex;
}
/* .swiper-button-prev,
.swiper-button-next {
  color: blue !important;
  background-color: red !important;
  width: 25px !important;
  height: 25px !important;
} */

.swiper-pagination-bullet-active {
  background-color: #005BAA !important;
  width: 15px !important;
  height: 15px !important;
}
.swiper-pagination-bullet {
  background-color: #D9D9D9 ;
  width: 15px !important;
  height: 15px !important;
}

/* Estilos para cada slide */
/*   .swiper-slide {
    text-align: center;
    font-size: 30px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */
/* .swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
} */
