<div class="container-showroom" >
    <div class="container container-showroom-textos" data-aos="fade-down">
        <h2>
        Visita nuestro Showroom
        </h2>
        <p>
        Vive una experiencia única y personalizada en nuestro Showroom. Conoce nuestro amplio catálogo a profundidad donde podrás ver y tocar los materiales, acabados y texturas de nuestros productos, y recibir asesoramiento de nuestro equipo de expertos para encontrar el diseño que mejor se adapte a tu proyecto.
        </p>
        <button>
        Visítanos
        </button>
    </div>
</div>