<div class="container-inspiring">
    <div class="container container-inspiring-texto">
       <img src='../../../assets/D-QUIENESSOMOS.jpg' alt="" class="img-inspiring-destok" data-aos="fade-up-left"/>
       <img src='../../../assets/R-QUIENESSOMOS.jpg' alt="" class="img-inspiring-movil" data-aos="fade-up-left"/>

        <div class="inspiring-texto">
            <h2  data-aos="fade-up-left">
            Más de 20 años inspirando proyectos
            </h2>
            <p  data-aos="fade-up-left">
            Contamos con una experiencia de 20 años en el mercado de acabados y construcción. Durante este tiempo, hemos establecido una sólida reputación por ofrecer productos y servicios de alta calidad a nuestros clientes. Proyecta se ha especializado en la venta de materiales de construcción y acabados para proyectos de construcción de grandes obras comerciales e industriales.
            </p>
        </div>

    </div>
</div>
