<div class="container-fluid" style='background: "#EFF2F6"' id='contactanos'>
    <div class="container-contactanos">
      <h2> ¡Qué esperas, contáctanos!</h2>

      <div class="container-contactanos-datos container" data-aos="fade-right">
        <div class="container-contactanos-datos__dato">
          <img loading="lazy" src='../../../assets/LlamanosYa.svg' alt="" />
          <p class="container-contactanos-datos__dato-titulo">Llámanos</p>
          <p>613-7979</p>
        </div>

        <div class="container-contactanos-datos__dato">
          <img loading="lazy" src="../../../assets/escribenos.svg" alt="" />
          <p class="container-contactanos-datos__dato-titulo">Escribenos</p>
          <p>ventascorporativas@cassinelli.com</p>
        </div>

        <div class="container-contactanos-datos__dato">
          <img loading="lazy" src="../../../assets/showroom.svg" alt="" />
          <p class="container-contactanos-datos__dato-titulo">Showroom</p>
          <p>Av.Republica de Panamá  N°4495</p>
      
          <p>Surquillo, Lima, Peru</p> 
        </div>
      </div>
    </div>
  </div>
